body {
    background-color: yellow;
  }
  
li.nav {
    float: left;
    margin-right: 50px;
    margin-left: 20px;
  }
  
li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a.nav:hover {
    background-color: red;
  }
  
ul.nav {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    background-color: navy;
  }

#page2img4 {
    float: left;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 30px;
    height: 200px;
    border: 5px dashed blue;
  }

#page2img4:hover {
    width: 500px;
    height: 500px;
    transform: translate(50px,100px);
  }

#header3 {
    margin-top: 40px;
    margin-left: 100px;
    font-size: 30px;
  }

#textno4 {
    text-align: justify;
    width: auto;
    font-size: large;
    margin-right: 100px;
    margin-top: -20px;
    margin-left: 250px;
  }

#page2img5 {
    width: 300px;
    height: 200px;
    float: right;
    border: 5px dashed blue;
    margin-bottom: 50px;
    margin-right: 100px;
  }

  #page2img5:hover {
    width: 500px;
    height: 500px;
    transform: translate(50px,100px);
  }

#header4 {
    margin-left: 100px;
    margin-top: -20px;
    font-size: 25px;
  }

#textno5 {
    font-size: large;
    margin-left: 75px;
  }

#page2img6 {
    float: left;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 10px;
    height: 250px;
    border: 5px dashed blue;
  }

  #page2img6:hover {
    width: 500px;
    height: 500px;
    transform: translate(50px,100px);
  }

#header5 {
    margin-top: 40px;
    margin-left: 150px;
    font-size: 30px;
  } 

#textno6 {
    text-align: justify;
    width: auto;
    font-size: large;
    margin-right: 100px;
    margin-top: -20px;
    margin-left: 550px;
  }

#page2footer {
    margin-top: 118px;
    font-size: 20px;
    color: red;
    text-align: right;
    margin-right: 100px;
}

#backtotop {
    display: inline;
    margin-top: 20px;
    margin-left: 600px;
    text-align: center;
    font-size: 15px;
    color: red;
}

#navlist {
  position : relative;
}

#navlist li {
  margin : 0;
  padding: 0;
  list-style : none;
  position: absolute;
  top : 0;
}


#navlist li, #navlist a {
  height: 48px;
  display: block;
}

#facebook {
  left: 0px;
  width: 48px; 
  background: url('../images/css_sprites.png') -10px -10px;
}

#youtube {
  left: 48px;
  width: 48px;
  background: url('../images/css_sprites.png') -78px -78px;
}



#twitter {
  left: 96px;
  width: 48px; 
  background: url('../images/css_sprites.png') -10px -78px;
}

#google {
  left: 144px;
  width: 48px; 
  background: url('../images/css_sprites.png') -78px -10px;
}

#facebook a:hover {
background: url('../images/css_sprites hover.png') -10px -10px;
}

#youtube a:hover {
background: url('../images/css_sprites hover.png') -78px -78px;
}

#twitter a:hover {
background: url('../images/css_sprites hover.png') -10px -78px;
}

#google a:hover {
  background: url('../images/css_sprites hover.png') -78px -10px;
}