body {
    background-color: yellow;
  }
  
li.nav {
    float: left;
    margin-right: 50px;
    margin-left: 20px;
  }
  
li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a.nav:hover {
    background-color: red;
  }
  
ul.nav {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    background-color: navy;
  }

#page5img1 {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border: 5px dashed blue;
}

#page5img1:hover {
  width: 500px;
  height: 500px;
  transform: translate(50px,100px);
}

#header11 {
    margin-top: 50px;
    margin-left: 100px;
}

#img1text1 {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

#header12 {
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

video {
  display: block;
  margin: 0 auto;
}

#header13 {
  margin-top: 20px;
  margin-left: 100px;
}

#sources {
  font-size: large;
  margin-left: 100px;
}

#page5footer {
  margin-top: 118px;
  font-size: 20px;
  color: red;
  text-align: right;
  margin-right: 100px;
}

#backtotop {
  display: inline;
  margin-top: 20px;
  margin-left: 600px;
  text-align: center;
  font-size: 15px;
  color: red;
}

#navlist {
position : relative;
}

#navlist li {
margin : 0;
padding: 0;
list-style : none;
position: absolute;
top : 0;
}


#navlist li, #navlist a {
height: 48px;
display: block;
}

#facebook {
  left: 0px;
  width: 48px; 
  background: url('../images/css_sprites.png') -10px -10px;
}

#youtube {
  left: 48px;
  width: 48px;
  background: url('../images/css_sprites.png') -78px -78px;
}



#twitter {
  left: 96px;
  width: 48px; 
  background: url('../images/css_sprites.png') -10px -78px;
}

#google {
  left: 144px;
  width: 48px; 
  background: url('../images/css_sprites.png') -78px -10px;
}

#facebook a:hover {
background: url('../images/css_sprites hover.png') -10px -10px;
}

#youtube a:hover {
background: url('../images/css_sprites hover.png') -78px -78px;
}

#twitter a:hover {
background: url('../images/css_sprites hover.png') -10px -78px;
}

#google a:hover {
  background: url('../images/css_sprites hover.png') -78px -10px;
}